[submodule "personal/preload/monokai-emacs"]
	path = personal/preload/monokai-emacs
	url = git@github.com:oneKelvinSmith/monokai-emacs.git
[submodule "personal/preload/powerline"]
	path = personal/preload/powerline
	url = git@github.com:milkypostman/powerline.git
[submodule "personal/preload/markdown-mode"]
	path = personal/preload/markdown-mode
	url = git@github.com:defunkt/markdown-mode.git
[submodule "personal/preload/pig-mode"]
	path = personal/preload/pig-mode
	url = git@github.com:motus/pig-mode.git
[submodule "personal/preload/solarized-emacs"]
	path = personal/preload/solarized-emacs
	url = git@github.com:bbatsov/solarized-emacs.git
[submodule "personal/preload/plan9-theme"]
	path = personal/preload/plan9-theme
	url = https://github.com/john2x/plan9-theme.el.git
[submodule "personal/preload/moe-theme"]
	path = personal/preload/moe-theme
	url = https://github.com/kuanyui/moe-theme.el.git
